<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Проект 1</title>
</head>
<body>
    <div class="project-details">
        <button class="back-button" onclick="window.location.href='/'">Назад</button>
        <h1>Project Y</h1>
        <p>No info yet.</p>
        <!-- Добавьте здесь больше информации о проекте -->
    </div>
</body>
</html>
